.row-header {
margin:0px auto;
padding:0px auto;
}

.row-content {
margin:0px auto;
padding: 50px 0px 50px 0px;
border-bottom: 1px ;
min-height:400px;
}

.footer{
background-color: moccasin;
margin:0px auto;
padding: 20px 0px 20px 0px;
}
.jumbotron {
padding:70px 30px 70px 30px;
margin:0px auto;
background: #9575CD ;
color:floralwhite;
}

address{
font-size:80%;
margin:0px;
color:#0f0f0f;
}

.navbar-dark {
background-color:magenta;
}

.nav-item{
    padding:3px;
}

.navbar-toggler{
    display:none;
}
@media (max-width: 768px) {
    .navbar-toggler{
        display:inline;
        width: 41px;
        height: 30px;
        border:black solid 2px;
        
    }
    .nav-item{display:table-row;}
    
  }

  .RenderCard{
      display:inline-block;
  }

  .blockquote{
      border:black solid 1px;
  }

div.media{
      font:bold;
  }